.library {
  background-color: #fff;
  box-shadow: 2px 2px 50px #c9c9c9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
  width: 20rem;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all .25s ease-in-out;

  // background: linear-gradient(to right, #86e2d5 50%, #fff 50%);
  // background-size: 200% 100%;
  // background-position: right bottom;
  // transition: all .5s ease-out;

  // &:hover {
  //   background-position: left bottom;
  // }

  // &:hover .song-description h3,
  // &:hover .song-description h4 {
  //   color: #fff;
  // }

  &:hover {
    background-color: #86e2d5;
  }

  &:hover .song-description h3,
  &:hover .song-description h4 {
    color: #fff;
  }

  img {
    width: 30%;
  }

  .song-description {
    padding-left: 1rem;

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.7rem;
    }
  }

  /* Testing */
  &.selected {
    background-color: violet;
  }
}

* {
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: transparent;
  border-radius: 20px;
}